<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
body {
	font-size: 18px !important;
	font-family: "Roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight: 400;
}
#body-inner ul, #body-inner ol { margin-top: 0; }
#sidebar ul.topics ul { padding: 0; }
#sidebar ul li > a { padding: 10px 0; }
#navigation { display: none; }
code + .copy-to-clipboard { display: none; }

a[href$='.zip']::before {
	font-family: 'Material Icons';
	content: 'attach_file';
	-webkit-font-feature-settings: 'liga';
}

h1 .subtitle {
	display: block;
	font-size: 18px;
	font-family: "Roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight: 100;
	text-transform: initial;
}

.changelogtag {
	color: #fff;
	font-weight: bold;
	padding: 1px 3px;
}

.changelogtag.featuretag {
	background-color: #8c8;
}

.changelogtag.fixtag {
	background-color: #88f;
}

.changelogtag.cleanuptag {
	background-color: #f94;
}
</style>
