<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="$LOCALIZE[128]">
		<setting id="enableservice" label="32900" type="bool" default="true" />
		<setting id="enableservice_music" label="32922" type="bool" default="false"
			visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="enable_olditem_updates" subsetting="true" label="32912" type="bool"
			default="true" visible="eq(-1,true) | eq(-2,true)" />
		<setting id="only_filesystem" label="32904" type="bool" default="false" />
		<setting id="download_artwork" label="32923" type="bool" default="false" />
		<setting id="recycle_removed" subsetting="true" label="32931" type="bool" default="false" visible="eq(-1,true)" />
		<setting label="32412" type="action" action="Skin.ToggleSetting(disablecontext:script.artwork.beef)"
			visible="!Skin.HasSetting(disablecontext:script.artwork.beef)" />
		<setting label="32413" type="action" action="Skin.ToggleSetting(disablecontext:script.artwork.beef)"
			visible="Skin.HasSetting(disablecontext:script.artwork.beef)" />
		<setting label="32054" type="lsep" />
		<setting id="titlefree_fanart" label="32901" type="bool" default="true" />
		<setting id="titlefree_poster" label="32917" type="bool" default="false" />
		<setting id="preferredsize" label="32902" type="labelenum" default="1920x1080" values="1920x1080|1280x720" />
		<setting id="minimum_rating" label="32907" type="slider" option="int" default="5" range="0,1,10" />
		<setting id="language_override" label="32913" type="select" default="None" values="None|en|fr|de|ja|zh|es|it|pt|sv|ru|nl|ar|ko|no|hu|da|hi|is|pl|he|bg|fi|ml" />
		<setting id="prefer_tmdbartwork" label="32921" type="bool" default="false" />
		<setting label="32052" type="lsep" />
		<setting label="32400" type="action" action="RunScript(script.artwork.beef, command=set_autoaddepisodes)" />
		<setting label="32919" type="action" action="RunScript(script.artwork.beef, command=show_artwork_log)" />
	</category>
	<category label="$LOCALIZE[20343]">
		<setting label="32053" type="lsep" />
		<setting id="tvshow.disabled" label="32933" type="bool" default="false" />
		<setting id="tvshow.poster" label="poster" type="bool" default="true" visible="eq(-1,false)" />
		<setting id="tvshow.fanart_limit" label="fanart" type="slider" option="int" default="5" range="0,1,20" visible="eq(-2,false)" />
		<setting id="tvshow.banner" label="banner" type="bool" default="true" visible="eq(-3,false)" />
		<setting id="tvshow.clearlogo" label="clearlogo" type="bool" default="true" visible="eq(-4,false)" />
		<setting id="tvshow.landscape" label="landscape" type="bool" default="true" visible="eq(-5,false)" />
		<setting id="tvshow.clearart" label="clearart" type="bool" default="true" visible="eq(-6,false)" />
		<setting id="tvshow.characterart_limit" label="characterart" type="slider" option="int" default="1" range="0,1,20" visible="eq(-7,false)" />
		<setting id="season.poster" label="$LOCALIZE[20373] poster" type="bool" default="true" visible="eq(-8,false)" />
		<setting id="season.banner" label="$LOCALIZE[20373] banner" type="bool" default="true" visible="eq(-9,false)" />
		<setting id="season.landscape" label="$LOCALIZE[20373] landscape" type="bool" default="true" visible="eq(-10,false)" />
		<setting id="season.fanart" label="$LOCALIZE[20373] fanart" type="bool" default="true" visible="eq(-11,false)" />
		<setting id="episode.disabled" label="32934" type="bool" default="false" />
		<setting id="episode.fanart" label="$LOCALIZE[20359] fanart" type="bool" default="true" visible="eq(-1,false)" />
	</category>
	<category label="$LOCALIZE[20342]">
		<setting label="32053" type="lsep" />
		<setting id="movie.disabled" label="32932" type="bool" default="false" />
		<setting id="movie.poster" label="poster" type="bool" default="true" visible="eq(-1,false)" />
		<setting id="movie.fanart_limit" label="fanart" type="slider" option="int" default="5" range="0,1,20" visible="eq(-2,false)" />
		<setting id="movie.banner" label="banner" type="bool" default="true" visible="eq(-3,false)" />
		<setting id="movie.clearlogo" label="clearlogo" type="bool" default="true" visible="eq(-4,false)" />
		<setting id="movie.landscape" label="landscape" type="bool" default="true" visible="eq(-5,false)" />
		<setting id="movie.clearart" label="clearart" type="bool" default="true" visible="eq(-6,false)" />
		<setting id="movie.discart" label="discart" type="bool" default="true" visible="eq(-7,false)" />
		<setting id="set.disabled" label="32939" type="bool" default="false" />
		<setting id="set.poster" label="$LOCALIZE[20457] poster" type="bool" default="true" visible="eq(-1,false)" />
		<setting id="set.fanart_limit" label="$LOCALIZE[20457] fanart" type="slider" option="int" default="5" range="0,1,20" visible="eq(-2,false)" />
		<setting id="set.banner" label="$LOCALIZE[20457] banner" type="bool" default="true" visible="eq(-3,false)" />
		<setting id="set.clearlogo" label="$LOCALIZE[20457] clearlogo" type="bool" default="true" visible="eq(-4,false)" />
		<setting id="set.landscape" label="$LOCALIZE[20457] landscape" type="bool" default="true" visible="eq(-5,false)" />
		<setting id="set.clearart" label="$LOCALIZE[20457] clearart" type="bool" default="true" visible="eq(-6,false)" />
		<setting id="set.discart" label="$LOCALIZE[20457] discart" type="bool" default="true" visible="eq(-7,false)" />
	</category>
	<category label="$LOCALIZE[20389]">
		<setting label="32053" type="lsep" />
		<setting id="musicvideo.disabled" label="32935" type="bool" default="false" />
		<setting id="musicvideo.poster" label="poster" type="bool" default="true" visible="eq(-1,false)" />
		<setting id="musicvideo.fanart_limit" label="fanart" type="slider" option="int" default="3" range="0,1,20" visible="eq(-2,false)" />
		<setting id="musicvideo.banner" label="banner" type="bool" default="true" visible="eq(-3,false)" />
		<setting id="musicvideo.clearlogo" label="clearlogo" type="bool" default="true" visible="eq(-4,false)" />
		<setting id="musicvideo.clearart" label="clearart" type="bool" default="true" visible="eq(-5,false)" />
		<setting id="musicvideo.discart" label="discart" type="bool" default="true" visible="eq(-6,false)" />
		<setting id="musicvideo.artistthumb" label="artistthumb" type="bool" default="true" visible="eq(-7,false)" />
	</category>
	<category label="$LOCALIZE[2]">
		<setting label="32036" type="lsep" visible="!String.StartsWith(System.BuildVersion,18) + !String.StartsWith(System.BuildVersion,19)]" />
		<setting label="32053" type="lsep" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="artist.disabled" label="32936" type="bool" default="false"
			visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="artist.thumb" label="$LOCALIZE[557] thumb" type="bool" default="true" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="artist.fanart_limit" label="$LOCALIZE[557] fanart" type="slider" option="int" default="3" range="0,1,20" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="artist.banner" label="$LOCALIZE[557] banner" type="bool" default="true" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="artist.clearlogo" label="$LOCALIZE[557] clearlogo" type="bool" default="true" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="artist.clearart" label="$LOCALIZE[557] clearart" type="bool" default="true" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="album.disabled" label="32937" type="bool" default="false"
			visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="album.discart" label="$LOCALIZE[558] discart" type="bool" default="true" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="album.thumb" label="$LOCALIZE[558] thumb" type="bool" default="true" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="album.back" label="$LOCALIZE[558] back" type="bool" default="true" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="album.spine" label="$LOCALIZE[558] spine" type="bool" default="true" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="song.disabled" label="32938" type="bool" default="false"
			visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
		<setting id="song.thumb" label="$LOCALIZE[179] thumb" type="bool" default="true" visible="String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)" />
	</category>
	<category label="$LOCALIZE[10038]">
		<setting id="default_tvidsource" label="32918" type="labelenum" default="tvdb" values="tvdb|tmdb" />
		<setting id="fanarttv_key" label="32905" type="text" />
		<setting id="report_peritem" label="32916" type="bool" default="false" />
		<setting id="progress_display" label="32924" type="select" default="0" lvalues="32925|32926|32927" />
		<setting id="final_notification" label="32928" type="bool" default="false" />
		<setting label="$LOCALIZE[744]" type="lsep" />
		<setting id="episode.thumb_generate" label="32914" type="bool" default="false" />
		<setting id="movie.thumb_generate" label="32915" type="bool" default="false" />
		<setting id="musicvideo.thumb_generate" label="32920" type="bool" default="false" />
		<setting id="centraldir.set_enabled" label="32909" type="bool" default="false" />
		<setting id="centraldir.set_dir" subsetting="true" label="32910" type="folder" visible="eq(-1,true)" />
		<setting id="identify_alternatives" label="32906" type="bool" default="true" />
		<setting id="save_extrafanart" label="32929" type="bool" default="false" />
		<setting id="save_extrafanart_mvids" label="32930" type="bool" default="false" />
		<setting id="setartwork_fromparent" label="32911" type="bool" default="false" />
		<!-- For add-on inner workings -->
		<setting id="last_videoupdate" type="text" default="0" visible="false" />
		<setting id="last_musicupdate" type="text" default="0" visible="false" />
		<setting id="autoaddepisodes_list" type="text" default="" visible="false" />
	</category>
</settings>
